*{
	box-sizing: border-box;
	font-family: 'Roboto',sans-serif;
	outline: none;
}

.main-color-background{
	background: #673ab7 !important;
	color: #ffffff !important;
}

/**sign out button */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #signOutBtn{
  	display: none;
  }
}

/** Project form  */
input {
	border:none;
	outline:none;
	background:none;
}
.invert input{
	border:0.1px solid rgba(0,0,0,2);
	outline: none;
	background: white;
	padding:6px;
	max-width: 100%;
}

a:nth-of-type(1) {
	display: inline-block;
}
a:nth-of-type(2) {
	display: none;
}
a:nth-of-type(3) {
	display: none;
}

.invert>a:nth-of-type(1){
	display: none;
}
.invert>a:nth-of-type(2){
	display: inline-block;
}
.invert>a:nth-of-type(3){
	display: inline-block;
}
.invert >div:nth-of-type(1){
	display: none;
}

/** Details style # Projects **/

.box-style-1 {
	background-color: #E9EEF2;
	padding: 1rem;
	margin-bottom: 10px;
}

.box-style-2 {
	box-sizing: border-box;
	box-shadow: 0 0.1875rem 0.375rem rgba(33, 37, 41, 0.05);
	background-color: #fff;
	border-radius: 0.5rem;
}

/** project title sizing **/

.title-size {
	width: 100%;
}

/** Home page Header */

#header{
	background: #333333;
	color: #ffffff;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

#header .create{
	padding-top: 25px;
}

.dash-box{
	text-align: center;
}

/** Progress close btn **/
.close {
	color: #fff;
}

.page-title-span{
	margin-left: 10px;
}

.button-right-icon {
	margin-left: 10px;	
}

.search-container{
	display: block;
   left: 40%;
}

.contentImage{
	width: 100%;
	height: auto;	
}

.col-lg-4{
	display: inline-block;
	max-width: 33.333333%;
	padding: 2px;
}

.image-description {
	font-weight: 200;
	color: midnightblue;
	border-bottom: 6px solid blanchedalmond;
}

#submitProgress{
	display: none;
}

#submitDefDetails{
	display: none;
}

#progressHeader{
	display: none;
	margin: 16px;
}

#defectsHeader {
	display: none;
	margin: 16px;
}

#projForm{
	display: none;
}

.margin-10{
	margin-left:10px;
}

/* client tracking form*/

.tracking-form{
	width: 85%;
	max-width: 600px;
	background: #f1f1f1;
	margin-bottom: 20px;
	padding: 30px 40px;
	margin:auto;
	box-sizing: border-box;
	border-radius: 8px;
	text-align: center;
	box-shadow: 0 0 20px #000000b3;
	font-family: "Montserrat",sans-serif;
}
.tracking-form h1{
	margin-top: 0;
	font-size: xx-large;
	font-weight: 200;
	text-transform: uppercase;
}

.tracking-list{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
	background: #673AB7;
	padding: 14px 0;
	color: white;
	text-transform: uppercase;
	margin-top: 8px;
	width: 100%;
}
