body{
	margin: 0;
	font-family: 'Raleway', sans-serif;
}

.nav_container{
	width: 80%;
	margin: 0 auto;
}

header{
	background: transparent;
	background-color: #fdfdfd;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.logo{
	float: left;
	padding-top: 23px;
}

nav{
	float: right;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin-left: 70px;
	padding-top: 40px;
	position: relative;
}

nav ul li a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

nav a:hover{
	color: #4caf50;
}

nav a::before{
	content:'';
	display: block;
	height: 3px;
	width: 100%;
	background-color: #4caf50;

	position: absolute;
	top: 100%;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav a:hover::before{
	width: 100%;
}

.container-homepage{
	background-size: 100%;
	background-repeat: no-repeat;
	height: 600px;
	position: relative;
	font-family: 'Raleway', sans-serif;
}
.reference-view{
background-image: url(assets/bench-accounting-49909-unsplash-Photo-by-Bench-Accounting-on-Unsplash.jpg);
background-position: 60%;
}

.homepage-content{
	text-align: center;
	padding: 90px 0 0 0;
	font-size: 36px;
	line-height: 40px;
	color: #777;
	letter-spacing:2.4px;
	font-weight: lighter;
}

.homepage-searchbar{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: rgba(255, 255, 255, .9);
	height: 50px;
	border-radius: 40px;
	padding: 10px;
}

.search-btn{
	color: #4caf50;
	float: right;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: rgba(255, 255, 255, .9);
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-text{
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 6px 0px 0px 15px;
	color: #777;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;
	width: 360px;
}

.interior-design{
	background-image: url(assets/leone-venter-559377-unsplash-Photo-by-Leone-Venter-on-Unsplash.jpg);
	background-position: 30%;
}

.homepage-content h2{
    font-size: 3.67rem;
    text-transform: capitalize;
    color: #337a60;
    margin-bottom: 20px;
    line-height: normal;
    font-weight: 300;
}

.homepage-content h4{
	font-size: 1.433rem;
    line-height: normal;
    margin-bottom: 19px;
}

.homepage-content p{
	font-size: 1rem;
    color: #999;
    line-height: normal;
    margin-bottom: 22px;
}

.link-button{
	height: 46px;
    line-height: 45px;
    padding: 0 35px;
    border-radius: 30px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    color: #4caf50;
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 250ms;
    transition-delay: 0s;
    font-size: 16px;
}

.link-button:hover{
	background-color: #d2f7d9;
}


/** Contact us **/

.contact-map-wrapper{
	display: block;
}

.contact-map-wrapper iframe{
	margin-bottom: 0;
	padding: 0;
	width: 100%;
	border: none;
	max-width: 100%;
}

.vc_row{
	position: relative;
	margin-top: 80px;
	margin-bottom: 40px;
}

.wab_column{
	border-color: transparent;
	border-style: solid;
	} 
.vc_column_container{
	padding-left: 0;
	padding-right: 0;
	} 

.vc_col-sm-4{
	width: 33.33333%
}
.vc_col-sm-4{
	float: left;
}
.vc_col-sm-4{
	position: relative;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}

.vc_column-inner::after{
	display: table;
	content: " ";
}

.wab_text_column{
	max-width: 100%;
	margin: 0 auto;
}

.wab_content_element{
	margin-bottom: 0;
}

.wab_wrapper h2{
	color: #666;
	font-size: 24px;
	letter-spacing: -.5px;
}

.wab_wrapper h3{
	font-weight: 600;
	line-height: 1.5;
	font-size: 1.125em;
}
